<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <h1>Fire or Stay! </h1>
    <% if (persons.length < 1){%>
        <a href="/">Refresh Page Upon Inital Propogation</a>
    <%}%>
    <div>
        <a href="/stats">View Results here!!</a>
    </div>
    <br/>
    <% for (var i=0; i<persons.length; i++){%>
    <span class="profile">
        <img src="<%=persons[i].file%>" alt="<%=persons[i].name%>">
        <span class="name"><%=persons[i].name%></span>
            <form method="Post" class="formContainerFire">
                <input type="hidden" name="name" value="<%=persons[i].name%>">
                <input type="hidden" name = "action" value="fire">
                <input class="btn btn-danger" type="submit" value="Fire">
            </form>
            <form method="Post" class="formContainerKeep">
                <input type="hidden" name="name" value="<%=persons[i].name%>">
                <input type="hidden" name = "action" value="stay">
                <input class="btn btn-success" type="submit" value="Stay">
            </form>
    </span>
    <%}%>
</body>
</html>