<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <h1>Fire or Stay! Results</h1>
    <br/>
    <% for (var i=0; i<persons.length; i++){%>
    <span class="profile">
        <img src="<%=persons[i].file%>" alt="<%=persons[i].name%>">
        <span class="name"><%=persons[i].name%></span>
        <button class="fireStat btn btn-danger"><%=Math.round(persons[i].fire/(persons[i].fire+persons[i].stay)*100)%>%</button>
        <button class="stayStat btn btn-success"><%=Math.round(persons[i].stay/(persons[i].fire+persons[i].stay)*100)%>%</button>
    </span>
    <%}%>
</body>
</html>