.profile {
  position: relative;
  display: inline-block;
  border: 5px solid black;
}

.profile .name {
  display: block;
  position: absolute;
  top: 0;
  left: 35%;
  color: white;
  font-size: 150%;
  text-align: center;
}

.formContainerFire{
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  display: inline-block;
}

.formContainerKeep{
  position: absolute;
  width: 50%;
  left: 200px;
  bottom: 0;
  display: inline-block;
}

.fireStat{
  position: absolute;
  bottom: 0%;
  left:0;
}

.stayStat{
  position: absolute;
  bottom: 0%;
  right:0;
}
